@import url(./reset.css);
@import url(./common.css);

@mixin res($d){
   @if($d == 'mobile'){
      @media (max-width: 767px) { @content; }
   }

   @else{
      @media (min-width: 768px) and (max-width: 1024) {
         @content;
      }
   }
}


/* main */
.spot{
   width: 100%; height: 100vh;
   position: relative;
}
.spot .slide{}
.spot .slide figure{
   height: 100vh;
}
.spot .slide figure img{
   position: absolute;
   left: 0; top: 0; /* 크롬말고 다른 브라우저도 있으니까 가로 세로 하나씩은 쓸것 */
   width: 100%; height: 100%;
}
.spot .slide .indi{
   position: absolute;
   left: 0; bottom: 5%;
   width: 100%;
   text-align: center;
}
.spot .slide .indi>button{
   width: 20px; height: 20px;
   border-radius: 10px;
   background-color: white;
   font-size: 0;
   transition: .5s;
}
.spot .slide .indi>button:hover{
   width: 60px;
} 

.spot .txt{
   position: absolute;
   z-index: 2;
   left: 0; top: 0;
   width: 100%; height: 100%;

   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;

   pointer-events: none;
   color: white;
}

.spot .txt > p{
   font-size: 2rem;
   @include res('mobile'){
      font-size: 1rem;
   }
}
.spot .txt > b{
   font-size: 4.4rem;
   @include res('mobile'){
      font-size: 2rem;
   }
}


/* section */
section{
   padding: 100px 0;
   @include res('mobile'){
      padding: 48px 24px;}
}
section > div{
   max-width: var(--pc-wid);
   margin: 0 auto;
}
section .service{}
section .service > div{}


.service-items{
   display: flex;
   justify-content: space-between;
   @include res('mobile'){
      flex-direction: column;}
}
.service-items > figure{
   width: 30%;
   text-align: center;
   @include res('mobile'){
      width: 100%;
      margin-top: 24px;
   }
}
.service-items > figure > p{
   width: 130px; height: 130px;
   margin: 0 auto;
   border-radius: 50%;
   background-color: var(--color-point);
   font-size: 3rem;
   color: black;
   line-height: 130px;
}

.service-items > figure > figcaption{}
.service-items > figure > figcaption > b{
   display: block;
   font-size: 2rem;
   color: #212529;
   margin: 8px 0 8px;
}
.service-items > figure > figcaption > p{  
}



/* portfolio */
.portfolio-items{
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   gap: 20px 0;
   @include res('mobile'){
      flex-direction: column;
   }
}
.portfolio-items > figure{
   width: 32%;
   @include res('mobile'){
      width: 100%;
   }
}

.portfolio-items > figure > p {
   position: relative;
   //부모크기*자식크기 100%
   padding-top: 62%;
   transform-style: preserve-3d;
   transition: 1s;                                                                          
}
.portfolio-items > figure > p > img {
   width: 100%; height: 100%;
   position: absolute;
   left: 0; top: 0;
}

.portfolio-items > figure > p > img:nth-child(1){}
.portfolio-items > figure > p > img:nth-child(2){
   transform: translateZ(-1px) rotateY(180deg);
}


.portfolio-items > figure:hover > p {
   transform: perspective(600px) rotateY(360deg);
}

.portfolio-items > figure > figcaption{
   padding: 24px 0;
   text-align: center;
}
.portfolio-items > figure > figcaption > b{
   font-size: 1.5rem;
   color: #333;
}




/* contact */
.contact{}
.contact-form{
   display: flex;
   justify-content: space-between;
   @include res('mobile'){
      flex-direction: column;}
}
.contact-form > div{
   width: 49%;
   display: flex;
   flex-direction: column;
   justify-content: space-between;

   @include res('mobile'){
      width: 100%;}
}

.contact-form > div > input,
.contact-form > div > textarea{
   padding: 24px;
   border-radius: 10px;
   width: 100%;
   border: none;
   @include res('mobile'){
      margin-bottom: 8px;}
}

.contact-form > div > textarea{
   height: 240px;
}

.contact-form > div > input::placeholder,
.contact-form > div > textarea::placeholder{
   text-transform: uppercase;
   font-weight: bold;
   color: #cecece;
}



/* 
flex-direction: rows;
ㄴ justify-content: space-between;  가로정렬

flex-direction: column;
ㄴ justify-content: space-between;  세로정렬 
*/